.albumTable {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.albumTable th,
.albumTable td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 12px;
    max-width: 25vh;
    text-align: center;
    font-family: serif;
}

.albumTable th {
    border-bottom: 2px solid #333;
}

.albumTable th:first-child,
.albumTable td:first-child {
    text-align: center;
    width: 80px;
}

.albumTable .borderTop td {
    border-top: 1px solid #ddd;
}

.albumTable .borderBottom td {
    border-bottom: 1px solid #ddd;
}

.albumInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: serif;
    color: #333;
}

.albumInfo img {
    margin-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.artistContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeButton {
    margin-left: 8px;
    cursor: pointer;
    color: #5f5f5f;
}
.closeButton::before {
    content: '―';
    display: block;
}
